*{
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.header {
    background-color: #333;
    color: white;
    padding: 20px;
}

#box-1 {
    background-color: red;
    margin-top: 10px;
    padding: 10px;
}

.button, button{
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 20px;
    border: 1px solid transparent;
    background: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 1s;
    display: block;
}

.button:hover {
    background: transparent;
    color: black;
    border: 1px solid black;
}

p {
    padding: 10px;
}

form {
    margin: 10px;
    margin: 20px;
}

form label {
    display: block;
    margin: 7px 0;
}

form input[type="text"],
input[type="email"] {
    padding: 7px 1px;
    margin: 3px 0;
    width: 50%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

table {
    width: 90%;
    border: 1px solid #333;
    margin: auto;
}

table td, th {
    /*border: 1px solid #333;*/
    text-align: center;
    background-color: #f4f4f4;
}

table th {
    border-bottom: 1px solid #333;
}